body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.sidebar-nav {
  padding: 9px 0;
}

legend {
  margin-bottom: 0;
}

ol.craue_formflow_steplist {
    display: inline-block;
    list-style-image: url('../img/arrow_right.gif');
}

ol.craue_formflow_steplist li {
    float:left;
    margin-right: 50px;
}

ol.craue_formflow_steplist li.craue_formflow_current_step {
    color: red;
    font-weight: bold;
}

div.craue_formflow_buttons {
    display: block;
    padding: 1em 0.5em 2em 0.5em;
}

.reqsymb {
    color: red;
    font-weight: bold;
}

.dataTables_filter {

}

.help-inline {
  font-style: italic;
}

li.last {
  padding-bottom: 9px;
}

.dataTables_filter label {
    width: auto;
}

.dataTables_filter input {
    width: auto;
}

.dataTables_info {
    float: right;
}

.dataTables_length label {
    width: auto;
}