{% extends 'BoilrBundle:Default:template5-base.html.twig' %}

{% block inner_block %}
<div class="span9">
  <div class="page-header">
    <h1>Assegnazione assistita intervanti <small>Selezione politica</small></h1>
    <h2>{{ result.policyDescr }}</h2>
  </div>

  <h3>Risultato associazione</h3>
  <br>
  {% if result.resultType == constant('\\Boilr\\BoilrBundle\\Policy\\PolicyResult::RESULT_INSTALLER') %}
    {% include 'BoilrBundle:Policy:previewFillupPolicy.html.twig' with {'result': result } %}
  {% elseif result.resultType == constant('\\Boilr\\BoilrBundle\\Policy\\PolicyResult::RESULT_LOAD') %}
    {% include 'BoilrBundle:Policy:previewLoadPolicy.html.twig' with {'result': result } %}
  {% elseif result.resultType == constant('\\Boilr\\BoilrBundle\\Policy\\PolicyResult::RESULT_SCHEDULE_TIME') %}
    {% include 'BoilrBundle:Policy:previewWaypointPolicy.html.twig' with {'result': result } %}
  {% endif %}

  <a class="btn btn-primary" href="{{ url('intervention_preview_policy', {'name': result.policyName, 'doit': true}) }}">Assegna</a>
  <a class="btn" href="{{ url('policy_edit_assignments', {'name': result.policyName}) }}">Modifica</a>

</div>
{% endblock inner_block %}