{% extends 'BoilrBundle:Default:template5.html.twig' %}


{% block central_block %}
<div class="ui-widget" style="margin-top: 50px">
    <div class="ui-state-highlight ui-corner-all" style="margin-top: 20px; padding: 0 .7em;">
        <p>I sorgenti applicativi sono disponibili su
            <a title="Sorgenti..." href="https://github.com/unixo/Boilr" target="_new">
            GitHub
            <span class="ui-icon ui-icon-link" style="display: inline-block"></span>
        </a></p>
    </div>
</div>
{% endblock %}