{% extends 'BoilrBundle:Default:template5-base.html.twig' %}

{% block inner_block %}
<div class="span9">
  <div class="hero-unit">
    <h1>Benvenuto, {{ app.security.getToken().getUser().getFullName() }}!</h1>
  </div>

  <div class="row-fluid">
    <div class="span5">
        <h2>Requisiti</h2>
        <p>Il progetto è stato realizzato usando le seguenti componenti:</p>
        <ul>
          <li>PHP 5.3.x</li>
          <li>mySQL 5.x</li>
          <li>Symfony2 2.0.12 or later</li>
          <li>wkhtmltopdf</li>
          <li>Java JRE (per YUI compressor)</li>
        </ul>
    </div>
    <div class="span4">
        <h2>Sorgenti applicativi</h2>
        <p>I sorgenti applicativi sono disponibili sul repository git su GitHub. </p>
        <p><a class="btn" href="https://github.com/unixo/Boilr" target="new">Apri &raquo;</a></p>
    </div>
  </div>
</div>
{% endblock %}