{% extends 'BoilrBundle:Default:template5-base.html.twig' %}

{% block central_block %}
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">Boilr</a>
      <div class="nav-collapse">
        {% include 'BoilrBundle:Default:top-menu.html.twig' %}
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <div class="well sidebar-nav">
        {% block sidebar %}
        {% endblock %}
      </div><!--/.well -->
    </div><!--/span3 -->

    {% if app.session.hasFlash('error') %}
    <div class="span9">
      <div class="alert alert-error">
        <a class="close" data-dismiss="alert">×</a>
        <strong>Errore</strong> {{ app.session.flash('error') }}
      </div>
    </div>
    {% endif %}

    {% if app.session.hasFlash('notice') %}
    <div class="span9">
      <div class="alert alert-success">
        <a class="close" data-dismiss="alert">×</a>
        <strong>Informazione</strong> {{ app.session.flash('notice') }}
      </div>
    </div>
    {% endif %}

    {% block inner_block %}
    {% endblock %}
  </div><!--/row-->

  {% block rows %}
  {% endblock %}
  <hr>

  {% include 'BoilrBundle:Default:footer.html.twig' %}
</div><!--/.fluid-container-->
{% endblock %}