{% import 'BoilrBundle:Common:macros.html.twig' as mymacro %}

<div>
  {% if person.contracts | length > 0 %}
  <table id="userContracts" class="table table-condensed table-striped">
    <thead>
      <tr>
         <th>Tipo</th>
         <th>Impianto</th>
         <th>Data Inizio</th>
         <th>Data Termine</th>
       </tr>
     </thead>
     <tbody>
     {% for value in person.contracts %}
       <tr>
         <td>{{ value.system.systemType.name }}</td>
         <td>{{ value.system.descr }}</td>
         <td>{{ value.startDate | localizeddate("medium", "none") }}</td>
         <td>{{ value.endDate | localizeddate("medium", "none")  }}</td>
       </tr>
     {% endfor %}
     </tbody>
   </table>
  {% else %}
    <div class="alert alert-info">Nessun contratto d'assistenza.</div>
  {% endif %}
</div>
