{% extends 'BoilrBundle:Person:person-base.html.twig' %}
{% form_theme form 'BoilrBundle:Form:fields.html.twig' %}

{% block inner_block %}
<div class="span10">
  <h2>Nuova anagrafica</h2>
  <div id="formnav">
    {% include 'CraueFormFlowBundle:FormFlow:stepList.html.twig' %}
  </div>

  <form id="form_newpersonn" action="{{ app.request.requestUri }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
    {% include 'CraueFormFlowBundle:FormFlow:stepField.html.twig' %}

    {% include 'BoilrBundle:Person:new_step' ~ flow.getCurrentStep() ~ '.html.twig' with {'form': form } %}

    <div style="display: none">{{ form_rest(form) }}</div>
    {{ form_errors(form) }}

    <div class="form-actions">
      {% include 'BoilrBundle:Form:buttons.html.twig' %}
    </div>
  </form>
</div>
{% endblock %}


{% block javascripts %}
{% include 'BoilrBundle:Person:new_step' ~ flow.getCurrentStep() ~ '.js.twig'  %}
{% endblock %}