{% extends 'BoilrBundle:Default:template5-base.html.twig' %}

{% block inner_block %}
<div class="span9">
  <div class="page-header">
    <h1>Ricerca scheda anagrafica</h1>
  </div>

  <table id="people" class="table table-condensed table-striped">
    <thead>
      <tr>
        <th>Nominativo</th>
        <th>Telef. casa</th>
        <th>Telef. ufficio</th>
        <th># impianti</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
/* <![CDATA[ */

var oTable;

function renderFullname( oObj )
{
    var _url = "{{ url('show_person', { 'id': '_ID_' } ) }}";
    var _id = oObj.aData['id'];
    var _name = oObj.aData['fullname'];

    _url = _url.replace(/_ID_$/, _id);

    return '<a href="'+_url+'">'+_name+'</a>';
}

$(function() {
    oTable = $('#people').dataTable({
              "sDom": "frtiS", "sScrollY": "300px", "bServerSide": true,
              "sAjaxSource": "{{ path('json_search_person') }}",
              "aoColumns": [
                      { "mDataProp": "fullname",    "fnRender": renderFullname },
                      { "mDataProp": "homePhone",  "bSortable": false },
                      { "mDataProp": "officePhone",  "bSortable": false },
                      { "mDataProp": "systems",  "bSortable": false },
                  ],
              });
});

/* ]]> */
</script>
{% endblock %}